.active{
    color: green;
}
.inactive{
    color: red;
}
.card{
    padding: 10px;
    background-color: var(--color-background);
    border: 5px solid var(--color-secondary);
    margin: 10px ;

    & h3{
        border-bottom: 1px solid #333;
    }
}