<div class="wrapper">
    <div class="clock">
        <app-clock></app-clock>
    </div>
    <div class="flex row container">
        <app-timer class="col-12 offset-md-1 col-md-5" (workHours)="onEndShift($event)"></app-timer>
        <!-- <div class="d-flex justify-content-center mt-4 total-hours">
            <h5>Total work hours today: <span>{{(workHours / 3600000).toFixed(0)}}</span></h5>
        </div> -->
        <!-- TODO: Finish styling and adjust component -->
        <div class="projects col-12 col-md-5">
            <h3>Selecciona tu proyecto</h3>
            <select class="form-select" size="5">
                @for (proj of projectList; track proj.id) {
                <option value="{{proj.id}}">{{proj.name}}</option>
                }
            </select>
        </div>
    </div>
</div>