<div class="wrapper">
    <div class="clock">
        <app-clock></app-clock>
    </div>
    <app-timer (workHours)="onEndShift($event)"></app-timer>
    <!-- <div class="d-flex justify-content-center mt-4 total-hours">
        <h5>Total work hours today: <span>{{(workHours / 3600000).toFixed(0)}}</span></h5>
    </div> -->
    <div class="projects">
        <select class="form-select" size="5">
            <option selected>Selecciona tu proyecto</option>
            <!-- @for (proj of projectList; track proj.id) {
            <option value="{{proj.id}}">{{proj.name}}</option>
            } -->
        </select>
    </div>
</div>