<h1 class="text-center mt-4">Bienvenido Admin</h1>

<div>
    <h3 class="text-center">Trabajadores</h3>
    <div class="trabajadores">
        @for (trabajador  of arrTrabajadores; track trabajador.id) {
            <card-trabajadores [trabajador]="trabajador"></card-trabajadores>

        }
    </div>
</div>



<div>
    <h3 class="text-center">Proyectos</h3>
    <div class="projects">
        @for (project of arrProyectos; track project.id) {
            <card-project [project]="project"></card-project>
        }
    </div>
</div>
