h1, h2{
    margin:20px 0;
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 2px 20px black;
}

.active {
    color: green;
}

.inactive {
    color: red;
}

.card {
    padding: 10px;
    background-color: var(--color-text);/*  --color-background */
    padding: 50px;
   

    & .title {
       border-bottom: 1px solid var(--dark-skyblue);
        padding: 10px;
    }
}
form{
    border: none;
    box-shadow: 4px 8px 10px black;
    padding: 10px;
        background-color: var(--color-background);
        border: 5px solid var(--color-secondary);
    
}
.form-control{
    margin-top: 10px;
}
button{
   margin: 20px 0;
}
.card {
    background-color:#c2ccd8 ;
  box-shadow: 2px 6px 20px black; 
}

.box {
    background-color: #75a3d8;
     box-shadow: 4px 8px 10px black;
}
.contraseña{
    box-shadow: 2px 6px 40px black;
}

@media(max-width:768px){
    h3,h4,h5{
        font-size: 16px;
        text-transform: uppercase;
        
    }
}