h1, h2{
    margin:20px 0;
    text-align: center;
    font-weight: 600;
}
.active {
    color: green;
}

.inactive {
    color: red;
}

.card {
    padding: 10px;
    background-color: var(--color-text);/*  --color-background */
    padding: 50px;
   

    & .title {
       border-bottom: 1px solid var(--dark-skyblue);
        padding: 10px;
    }
}
form{
    background-color: var(--color-text);
}
.form-control{
    margin-top: 10px;
}
button{
   margin: 20px 0;
}
@media(max-width:768px){
    h3,h4,h5{
        font-size: 16px;
        text-transform: uppercase;
    }
}