<div class="wrapper mx-auto p-5">
    <div class="one pb-5">
        <input name="state" type="radio" id="reset" checked (change)="stopTimer()"
            [disabled]="!isPaused" />
        <input name="state" type="radio" id="pause" (change)="pauseTimer()" />
        <input name="state" type="radio" id="resume" (change)="resumeTimer()" />
        <input name="state" type="radio" id="play" (change)="startTimer()" />
        <div class="timer-container">
            <span>
                @if (timer) {
                {{timer | async}}
                } @else if (resumeTimerFrom && isPaused) {
                {{resumeTimerFrom}}
                } @else {
                {{resetTimer}}
                }
            </span>
        </div>
        <div id="controls">
            <label for="reset" id="reset--btn" [inert]="!isPaused"></label>
            <label for="pause" id="pause--btn"></label>
            <label for="play" id="play--btn" [class]="{'hide-play-btn': !firstStart}"
                [inert]="!isPaused"></label>
            <label for="resume" id="resume--btn" [class]="{'hide-resume-btn': firstStart}"
                [inert]="!isPaused"></label>
        </div>
        <div class="spinner">
            <div class="loader" [class]="{'stop-spinner': isPaused}"></div>
        </div>
    </div>
</div>