<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card empleado mb-4">
                <div class="empleado-detalle">
                    <h2>{{empleado.name}} {{empleado.surname}}</h2>
                    <p>{{empleado.department}}</p>
                    <p>{{empleado.email}}</p>
                    <p>{{empleado.role}}</p>
                    <p>{{empleado.is_active}}</p>
                </div>
            </div>
        </div>
    </div>
</div>