<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <p class="mb-2">Formulario válido: {{formularioLogin.valid}}</p>
            <p class="mb-4">Formulario tocado: {{formularioLogin.touched}}</p>

            <form [formGroup]="formularioLogin" (ngSubmit)="onSubmit()" class="rounded p-4 shadow-sm bg-light">
                <div class="mb-3">
                    <h2>Inicio de sesión</h2>
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="Ingresa tu email">
                    @if (checkError('email', 'pattern')){
                    <p class="text-danger mt-1">El formato del email es incorrecto</p>
                    }
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password"
                        placeholder="Ingresa tu contraseña">
                    @if (checkError('password', 'pattern')) {
                    <p class="text-danger mt-1">El formato de la contraseña es incorrecto</p>
                    }
                </div>

                <input type="submit" value="Enviar" class="btn btn-primary btn-block mt-4">

                @if (!formularioLogin.valid) {
                <p class="text-danger mt-3">Revisa los errores del formulario</p>
                } @else {
                <p class="text-success mt-3">El formulario es correcto. Puedes enviarlo</p>
                }
            </form>
        </div>
    </div>
</div>