<section class="vh-100" style="background: conic-gradient(from 0deg, #ff7e5f, #feb47b, #ff7e5f);">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://m.media-amazon.com/images/I/715CywDg57L._AC_SL1500_.jpg" alt="login form"
                                class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form [formGroup]="formularioLogin" (ngSubmit)="onSubmit()">
                                    <div class="d-flex align-items-center mb-0 pb-0" style="margin: 0; padding: 0;">
                                        <img src="https://demo.bootstrapdash.com/login-template-free-2/assets/images/logo.svg"
                                            alt="Logo" class="me-0"
                                            style="max-width: 100%; height: 50px; display: block; margin-bottom: 25px; padding: 0;" />
                                    </div>
                                    <h5 class="fw-normal mb-3 pb-3 ms-2" style="letter-spacing: 1px;">Iniciar sesión
                                    </h5>
                                    <div input-init class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" formControlName="email"
                                            placeholder="Ingresa tu email" />
                                        <label class="form-label">Email</label>
                                        @if (checkError('email', 'pattern')){
                                        <p class="text-danger mt-1">Ingresa un correo electrónico válido</p>
                                        }
                                    </div>
                                    <div input-init class="form-outline mb-4">
                                        <input type="password" id="form2Example27" class="form-control form-control-lg"
                                            formControlName="password" placeholder="Ingresa tu contraseña" />
                                        <label class="form-label">Password</label>
                                        @if (checkError('password', 'required')) {
                                        <p class="text-danger mt-1">La contraseña es incorrecta</p>
                                        }
                                    </div>
                                    <div class="form-check d-flex justify-content-between mb-4">
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="rememberMe" />
                                            <label class="form-check-label" for="rememberMe">
                                                Recordarme
                                            </label>
                                        </div>
                                        <a href="#" class="text-muted">¿Has olvidado la contraseña?</a>
                                    </div>
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Iniciar
                                            sesión</button>
                                    </div>
                                    @if (!formularioLogin.valid) {
                                    <p class="text-danger mt-3">Revisa los errores del formulario y vuelve a intentarlo
                                    </p>
                                    } @else {
                                    <p class="text-success mt-3"></p>
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>