     .container-xl {
         margin-top: 50px;
     }

     .table-wrapper {
         background: #fff;
         padding: 20px 25px;
         margin: 30px 0;
         border-radius: 3px;
         box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
     }

     .table-title {
         padding-bottom: 15px;
         background: #435d7d;
         color: #fff;
         padding: 16px 30px;
         margin: -20px -25px 10px;
         border-radius: 3px 3px 0 0;
     }

     .table-title h2 {
         margin: 5px 0 0;
         font-size: 24px;
     }

     .table-title .btn-group {
         float: right;
     }

     .table-title .btn {
         color: #fff;
         float: right;
         font-size: 13px;
         border: none;
         min-width: 50px;
         border-radius: 2px;
         border: none;
         outline: none !important;
         margin-left: 10px;
     }

     .table-responsive {
         margin: 30px 0;
     }

     .table-wrapper .table th,
     .table-wrapper .table td {
         border-color: #e9e9e9;
         padding: 12px 15px;
         vertical-align: middle;
     }

     .table-wrapper .table th:first-child {
         width: 60px;
     }

     .table-wrapper .table th:last-child {
         width: 100px;
     }

     .table-wrapper .table td a {
         color: #566787;
         display: inline-block;
         margin: 0 5px;
     }

     .table-wrapper .table td a.settings {
         color: #ff5722;
     }

     .table-wrapper .table td a.delete {
         color: #f44336;
     }

     .table-wrapper .table td i {
         font-size: 19px;
     }

     .table-wrapper .table td a {
         color: #2196F3;
     }

     .table-wrapper .table td a:hover {
         color: #3C8DBC;
     }

     .table-wrapper .avatar {
         border-radius: 50%;
         margin-right: 10px;
         vertical-align: middle;
     }

     .status {
         font-size: 30px;
         margin-right: 10px;
         display: inline-block;
         vertical-align: middle;
         line-height: 10px;
     }

     .text-success {
         color: #28a745 !important;
     }

     .text-warning {
         color: #ffc107 !important;
     }

     .text-danger {
         color: #dc3545 !important;
     }

     .hint-text {
         float: left;
         margin-top: 10px;
         font-size: 13px;
     }

     .pagination {
         float: right;
         margin: 0 0 5px;
     }

     .pagination li a {
         border: none;
         font-size: 13px;
         min-width: 30px;
         min-height: 30px;
         color: #999;
         margin: 0 2px;
         line-height: 30px;
         border-radius: 2px !important;
         text-align: center;
         padding: 0 6px;
     }

     .pagination li a:hover {
         color: #666;
     }

     .pagination li.active a,
     .pagination li.active a.page-link {
         background: #03A9F4;
     }

     .pagination li.active a:hover {
         background: #0397d6;
     }

     .pagination li.disabled i {
         color: #ccc;
     }

     .pagination li i {
         font-size: 16px;
         padding-top: 6px;
     }

     .empleado-detalle h2 {
         font-size: 24px;
         color: #333;
         margin-bottom: 20px;
     }

     .empleado-detalle p {
         font-size: 18px;
         color: #666;
         margin: 5px 0;
     }