    .status-active {
        color: green;
    }

    .status-inactive {
        color: red;
    }

    .table-custom {
        width: 100%;
        margin: 20px 0;
        border-collapse: separate;
        border-spacing: 0 15px;
        /* Añade espacio entre las filas */
    }

    .table-custom th,
    .table-custom td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    .btn-details {
        background-color: #343A40;
        color: #e8e6e5;
        border: none;
        border-radius: 3px;
        padding: 5px 10px;
        transition: background-color 0.3s ease, transform 0.1s ease;
    }

    .btn-details:hover {
        background-color: #eb6f4d;
    }

    .btn-details:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
    }

    .btn-details:active {
        transform: scale(0.98);
    }