@if (project) {
    <div class="card w-100 ">
        <h3>Nombre proyecto: {{project.name}}</h3>
        <p>Departamento: {{project.department |dptoTransform }}</p>
        <p>Id proyecto: {{project.id}}</p>
        <p>Fecha creación: {{project.created_at | date:'dd-MM-yyyy'}}</p>
        <p>Fecha de entrega: {{project.limit_date | date:'dd-MM-yyyy'}}</p>
        @if(project.is_active){
           <p>Proyecto <span class="activo">Activo</span></p>
        }@else {
            <p>Proyecto <span class="inactivo">Inactivo</span></p>
        }
        <button [routerLink]="['/admin','projects',project.id]">Ver detalles</button>
    </div>

}
