
.datos-top{
    border: 1px solid var(--dark-grey);
    margin-top: 100px;
    box-shadow: 10px 10px  var(--dark-skyblue);
    height: 50vh;
}
.datos-user{
    display: grid;
}
figure svg{
    background-color: #ccc;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    border-radius: 50%;
    padding: 20px;
}
h3{
    padding:5px;
    border-bottom: 1px solid var(--dark-grey)
}
.search{
    padding: 40px 0;

    & input[type=submit] {
            display: block;
            background-color: var(--dark-grey);
            color: white;
            padding: 0px 40px;
            border-radius: 10px;
            margin: 0 auto;
        }
}   

i.inactive{
    color: red;
}
i.active {
    color: green;
}

.hours{
    height: 400px;
    margin-bottom: 100px;
    overflow-y: scroll;
}