@import url("https://fonts.cdnfonts.com/css/tomorrow");
@import url("https://fonts.cdnfonts.com/css/waiting-summer");

:root {
  --light-salmon: #feb47b;
  --dark-grey: #343a40ff;
  --salmon: #ff7e5f;
  --dark-skyblue: #62929eff;
  --aquamarine: #49beaaff;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
