@import url("https://fonts.cdnfonts.com/css/tomorrow");
@import url("https://fonts.cdnfonts.com/css/waiting-summer");

:root {
  --color-primary: #FF8B65;
  --color-secondary: #343A40;
  --color-accent: #F6E27F;
  --color-accent-secondary: #62929e;
  --color-background: #A8B7AB;
  --color-text: #9BBEC7;

  --color-primary-80: #FF8B6580;
  --color-secondary-80: #343A4080;
  --color-accent-80: #F6E27F80;
  --color-accent-secondary-80: #62929e80;
  --color-background-80: #A8B7AB80;
  --color-text-80: #9BBEC780;

  --color-primary-strong: #d53d17;
  --color-accent-strong: #c8b247;
  --color-background-strong: #abc8b1;
  --color-text-strong: #6eb7c8;
}

body,
html {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}